<section class="bg-gradient-to-b from-[#F6F6F6] to-white">
  <div
    class="flex min-h-screen flex-col items-center justify-center gap-6 px-4 py-20 text-center sm:gap-8"
  >
    <!-- Error Message -->
    <div class="flex flex-col gap-3 sm:gap-4">
      <h1
        class="text-[64px] font-bold leading-none text-green-60 sm:text-[96px]"
      >
        404
      </h1>
      <h2 class="text-[28px] font-semibold sm:text-4xl">გვერდი ვერ მოიძებნა</h2>
      <p
        class="mx-auto max-w-[343px] text-sm font-normal text-platinum-50 sm:max-w-[500px] sm:text-lg"
      >
        სამწუხაროდ, თქვენს მიერ მოთხოვნილი გვერდი არ არსებობს ან გადატანილია
        სხვა მისამართზე.
      </p>
    </div>

    <!-- Action Button -->
    <a
      routerLink=""
      class="inline-flex items-center justify-center gap-2 rounded-full border-[1.5px] border-white/40 px-6 py-3 font-medium text-white transition-all duration-200 hover:scale-[102%]"
      style="
        background: linear-gradient(
          90deg,
          #0ad810 0%,
          #0bb705 35%,
          #0bb705 65%,
          #0ad810 100%
        );
        box-shadow: 0px 20px 16px -8px #0ad10426;
      "
    >
      <svg
        width="20"
        height="20"
        viewBox="0 0 20 20"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M8 17H4C3.46957 17 2.96086 16.7893 2.58579 16.4142C2.21071 16.0391 2 15.5304 2 15V8.41421C2 8.149 2.10536 7.89464 2.29289 7.70711L9.29289 0.707107C9.68342 0.316582 10.3166 0.316582 10.7071 0.707107L17.7071 7.70711C17.8946 7.89464 18 8.149 18 8.41421V15C18 15.5304 17.7893 16.0391 17.4142 16.4142C17.0391 16.7893 16.5304 17 16 17H12M8 17V13C8 12.4477 8.44772 12 9 12H11C11.5523 12 12 12.4477 12 13V17M8 17H12"
          stroke="white"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
      მთავარი გვერდი
    </a>
  </div>
</section>
