<div
  class="sm:border-hairline w-full space-y-5 py-4 sm:space-y-6 sm:rounded-xl sm:border sm:bg-white sm:p-6 sm:py-6 xl:w-[420px]"
>
  @if (showTitle()) {
  <h2 class="text-ink-80 text-xl">{{ title() }}</h2>
  }

  <div class="space-y-2.5 text-sm">
    <div class="flex items-center justify-between">
      <p class="text-ink-50">ნივთები ({{ cartService.itemCount() }})</p>
      <p class="text-ink-80 font-semibold">{{ cartService.totalPrice() + cartService.totalDiscount() | number: "1.2-2" }}₾</p>
    </div>
    @if (showDelivery()) {
    <div class="flex items-center justify-between">
      <p class="text-ink-50">მიწოდება</p>
      <p class="font-semibold" [ngClass]="deliveryPrice() == 0 ? 'text-green-70' : 'text-ink-80'">
        @if (deliveryPrice() == 0) { უფასო } @else { {{ deliveryPrice() | number: "1.2-2" }}₾ }
      </p>
    </div>
    }
    @if (cartService.totalDiscount() > 0) {
    <div class="flex items-center justify-between">
      <p class="text-ink-50">ფასდაკლება</p>
      <p class="text-valencia-50 font-semibold">
        -{{ cartService.totalDiscount() | number: "1.2-2" }}₾
      </p>
    </div>
    }
  </div>

  <div class="space-y-3 sm:space-y-6">
    <div class="bg-hairline h-px"></div>
    <div class="flex items-center justify-between">
      <h2 class="text-ink-70 text-base font-medium">ჯამური ღირებულება</h2>
      <p class="text-ink-80 text-lg font-bold">
        {{ cartService.totalPrice() + deliveryPrice() | number: "1.2-2" }}₾
      </p>
    </div>
  </div>

  @if (showCheckoutButton()) {
  <button
    type="button"
    (click)="onCheckout()"
    [disabled]="checkoutLoading()"
    [class.sm:hidden]="mobileOnlyCheckoutButton()"
    class="bg-green-60 hover:bg-green-70 inline-flex h-[46px] w-full items-center justify-center gap-2 rounded-full px-6 py-3 text-base font-medium text-white transition-colors duration-200 disabled:cursor-not-allowed disabled:opacity-60"
  >
    @if (checkoutLoading()) {
    <svg class="h-5 w-5 animate-spin" viewBox="0 0 24 24" fill="none">
      <circle
        class="opacity-25"
        cx="12"
        cy="12"
        r="10"
        stroke="currentColor"
        stroke-width="4"
      ></circle>
      <path
        class="opacity-75"
        fill="currentColor"
        d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4z"
      ></path>
    </svg>
    იტვირთება... } @else { {{ checkoutButtonText() }} }
  </button>
  }
</div>
