<div
  class="flex h-[366px] w-full max-w-full animate-pulse flex-col gap-4 rounded-2xl bg-white p-4 shadow-low sm:w-[280px] sm:max-w-[280px]"
>
  <div
    class="h-[180px] w-full overflow-hidden rounded-xl border-[0.5px] border-platinum-20 bg-platinum-20"
  ></div>

  <div class="flex flex-1 flex-col justify-between space-y-5">
    <div class="space-y-1">
      <div class="h-4 w-20 rounded bg-platinum-20"></div>
      <div class="h-4 w-full rounded bg-platinum-20"></div>
      <div class="h-4 w-3/4 rounded bg-platinum-20"></div>
    </div>

    <div class="flex items-center justify-between">
      <div class="h-6 w-20 rounded bg-platinum-20"></div>
      <div class="h-[44px] w-[120px] rounded-full bg-platinum-20"></div>
    </div>
  </div>
</div>
