<div
  class="flex h-[310px] w-full min-w-0 flex-col rounded-2xl bg-white shadow-low sm:h-[330px]"
>
  <div
    class="shimmer h-[160px] w-full rounded-t-2xl border-b border-platinum-20/80 sm:h-[170px]"
  ></div>

  <div class="flex flex-1 flex-col justify-between p-3 sm:p-4">
    <div class="space-y-2">
      <div class="shimmer h-3 w-16 rounded-sm"></div>
      <div class="shimmer h-3.5 w-full rounded-sm"></div>
      <div class="shimmer h-3.5 w-3/4 rounded-sm"></div>
    </div>

    <div class="flex items-center justify-between">
      <div class="shimmer h-5 w-16 rounded-sm"></div>
      <div class="shimmer h-8 w-8 rounded-lg sm:h-9 sm:w-24 sm:rounded-full"></div>
    </div>
  </div>
</div>
