<div class="container px-4">
  <div class="flex flex-col gap-3 sm:flex-row sm:gap-6">
    <button
      type="button"
      (click)="navigateBack()"
      class="flex items-center gap-1 text-base font-semibold"
    >
      <svg width="20" height="20" viewBox="0 0 20 20" fill="none" class="mt-1">
        <path
          d="M12.5 15L7.76218 10.5893C7.41261 10.2638 7.41261 9.73618 7.76218 9.41074L12.5 5"
          stroke="#212121"
          stroke-width="1.5"
          stroke-linecap="round"
        />
      </svg>

      უკან დაბრუნება
    </button>

    <div class="flex items-center gap-1 text-sm text-platinum-50">
      <a routerLink="">მთავარი</a>

      <svg
        width="16"
        height="16"
        viewBox="0 0 16 16"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M6 12L9.79026 8.4714C10.0699 8.21106 10.0699 7.78894 9.79026 7.5286L6 4"
          stroke="#6D6D6D"
          stroke-width="1.5"
          stroke-linecap="round"
        />
      </svg>

      <a routerLink="products">პროდუქცია</a>

      <svg
        width="16"
        height="16"
        viewBox="0 0 16 16"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M6 12L9.79026 8.4714C10.0699 8.21106 10.0699 7.78894 9.79026 7.5286L6 4"
          stroke="#6D6D6D"
          stroke-width="1.5"
          stroke-linecap="round"
        />
      </svg>

      <a routerLink="products">კაბელები</a>
    </div>
  </div>

  <div class="mt-5 flex flex-col gap-6 sm:mt-8 sm:flex-row sm:gap-8">
    <!--IMAGES SECTION-->
    <div class="flex flex-col sm:flex-row">
      <div class="flex flex-row sm:flex-col">
        @for (image of images(); track image.image_uuid) {
          <button type="button" (click)="selectImage(image.image_uuid)">
            <app-image
              [src]="getImageSrc(image.image_uuid)"
              [width]="92"
              [height]="92"
              loading="lazy"
              class="rounded-2xl"
            />
          </button>
        }
      </div>
      @if (selectedImage() || images()[0]) {
        <app-image
          [src]="getImageSrc(selectedImage() || images()[0]?.image_uuid || '')"
          [width]="642"
          [height]="642"
          loading="lazy"
          class="rounded-2xl"
        />
      }
    </div>
  </div>
</div>
