<div class="container space-y-16 px-4">
  <div
    class="relative flex flex-col overflow-hidden rounded-2xl bg-platinum-10 px-4 py-6 lg:flex-row lg:items-center lg:justify-between lg:px-10 lg:py-12"
  >
    <img
      src="/assets/images/products/main-banner-mobile.webp"
      class="relative z-10 h-[200px] w-full object-contain lg:hidden"
    />

    <img
      src="/assets/images/products/main-banner.webp"
      class="absolute right-0 top-0 z-10 hidden h-full w-auto object-cover lg:block"
    />

    <div
      class="relative z-20 mt-6 flex flex-col items-center gap-4 text-center lg:mt-0 lg:items-start lg:text-left"
    >
      <h1
        class="w-fit rounded-2xl bg-valencia-40 p-2.5 text-[20px] text-white lg:text-[28px]"
      >
        30% ფასდაკლება
      </h1>

      <h2 class="text-[28px] lg:text-[32px]">სეზონურ შეთავაზებებზე</h2>

      <p class="max-w-[628px] text-base text-platinum-50 lg:text-lg">
        მიიღე ფასდაკლება ტექნიკაზე, აქსესუარებზე სხვა და ყოველდღიურ ნივთებზე.
      </p>

      <a
        routerLink="/products"
        class="mt-4 inline-flex h-[46px] w-full items-center justify-center rounded-full border-white/40 px-6 py-2.5 text-base font-medium text-white transition-all hover:brightness-95 lg:w-fit"
        style="
          background: linear-gradient(
            90deg,
            #0ad810 0%,
            #0bb705 35%,
            #0bb705 65%,
            #0ad810 100%
          );
          box-shadow: 0px 20px 16px -8px #0ad10426;
        "
        >პროდუქტების ნახვა</a
      >
    </div>

    <svg
      width="851"
      height="351"
      viewBox="0 0 851 351"
      fill="none"
      class="pointer-events-none absolute -right-1/2 -top-32 hidden rounded-2xl blur-[135px] lg:-bottom-20 lg:right-0 lg:block"
    >
      <g filter="url(#filter0_f_1818_8029)">
        <path
          d="M472.588 227.109C553.779 135.204 764.751 67.0616 860.088 44.4784L910.832 504H135.832V-38C214.255 88.6631 391.398 319.013 472.588 227.109Z"
          fill="url(#paint0_linear_1818_8029)"
        />
      </g>
      <defs>
        <filter
          id="filter0_f_1818_8029"
          x="-0.001297"
          y="-173.833"
          width="1046.67"
          height="813.667"
          filterUnits="userSpaceOnUse"
          color-interpolation-filters="sRGB"
        >
          <feFlood flood-opacity="0" result="BackgroundImageFix" />
          <feBlend
            mode="normal"
            in="SourceGraphic"
            in2="BackgroundImageFix"
            result="shape"
          />
          <feGaussianBlur
            stdDeviation="67.9167"
            result="effect1_foregroundBlur_1818_8029"
          />
        </filter>
        <linearGradient
          id="paint0_linear_1818_8029"
          x1="172.736"
          y1="91.6086"
          x2="629.463"
          y2="504.873"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-color="#F4F6F7" stop-opacity="0" />
          <stop offset="0.370192" stop-color="#F3F99D" />
          <stop offset="1" stop-color="#39EF38" stop-opacity="0.8" />
        </linearGradient>
      </defs>
    </svg>
  </div>

  <div class="space-y-6">
    <h1 class="text-xl sm:text-[28px]">კატეგორიები</h1>

    <div class="relative">
      <div
        #scrollContainer
        (scroll)="onScroll(scrollContainer, 'categories')"
        class="hide-scrollbar -mx-4 flex gap-4 overflow-x-auto px-4 pb-2 lg:mx-0 lg:px-0"
        style="scrollbar-width: none; -ms-overflow-style: none"
      >
        @for (categoryCard of productCategoriesCards; track $index) {
          <a
            [routerLink]="categoryCard.route"
            class="flex h-[116px] w-[270px] flex-shrink-0 items-center justify-center gap-4 rounded-2xl bg-platinum-10 p-2 transition-all hover:bg-platinum-20"
          >
            <p class="font-semibold">{{ categoryCard.text }}</p>

            <img
              src="/assets/images/products/{{ categoryCard.image }}.webp"
              width="92"
              height="92"
            />
          </a>
        }
      </div>

      @if (canScrollLeft("categories")) {
        <button
          type="button"
          (click)="scrollLeft(scrollContainer)"
          class="absolute left-0 top-1/2 z-10 hidden h-12 w-12 -translate-y-1/2 items-center justify-center rounded-full bg-green-10 p-3 shadow-low transition-all hover:bg-green-20 lg:flex"
        >
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            class="rotate-180"
          >
            <path
              d="M14.5 6.5L19.8728 11.8716C19.9576 11.9549 20 12.0641 20 12.1733M14.5 17.5L19.8728 12.475C19.9576 12.3917 20 12.2825 20 12.1733M20 12.1733H4"
              stroke="#068C0B"
              stroke-width="1.5"
              stroke-linecap="round"
            />
          </svg>
        </button>
      }

      <button
        type="button"
        (click)="scrollRight(scrollContainer)"
        class="absolute right-0 top-1/2 z-10 hidden h-12 w-12 -translate-y-1/2 items-center justify-center rounded-full bg-green-10 p-3 shadow-low transition-all hover:bg-green-20 lg:flex"
      >
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
          <path
            d="M14.5 6.5L19.8728 11.8716C19.9576 11.9549 20 12.0641 20 12.1733M14.5 17.5L19.8728 12.475C19.9576 12.3917 20 12.2825 20 12.1733M20 12.1733H4"
            stroke="#068C0B"
            stroke-width="1.5"
            stroke-linecap="round"
          />
        </svg>
      </button>

      <div
        class="pointer-events-none absolute bottom-0 right-0 top-0 hidden w-20 bg-gradient-to-l from-white to-transparent lg:block"
      ></div>
    </div>
  </div>

  <div class="space-y-6">
    <h1 class="text-xl sm:text-[28px]">ტოპ პროდუქტები</h1>

    <div class="relative">
      <div
        #productsScrollContainer
        (scroll)="onScroll(productsScrollContainer, 'products')"
        class="hide-scrollbar -mx-4 flex gap-4 overflow-x-auto px-4 py-2 lg:mx-0 lg:px-1 lg:py-2"
        style="scrollbar-width: none; -ms-overflow-style: none"
      >
        @for (_ of [].constructor(10); track $index) {
          <app-product-card />
        }
      </div>

      @if (canScrollLeft("products")) {
        <button
          type="button"
          (click)="scrollLeft(productsScrollContainer)"
          class="absolute left-0 top-1/2 z-10 hidden h-12 w-12 -translate-y-1/2 items-center justify-center rounded-full bg-green-10 p-3 shadow-low transition-all hover:bg-green-20 lg:flex"
        >
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            class="rotate-180"
          >
            <path
              d="M14.5 6.5L19.8728 11.8716C19.9576 11.9549 20 12.0641 20 12.1733M14.5 17.5L19.8728 12.475C19.9576 12.3917 20 12.2825 20 12.1733M20 12.1733H4"
              stroke="#068C0B"
              stroke-width="1.5"
              stroke-linecap="round"
            />
          </svg>
        </button>
      }

      <button
        type="button"
        (click)="scrollRight(productsScrollContainer)"
        class="absolute right-0 top-1/2 z-10 hidden h-12 w-12 -translate-y-1/2 items-center justify-center rounded-full bg-green-10 p-3 shadow-low transition-all hover:bg-green-20 lg:flex"
      >
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
          <path
            d="M14.5 6.5L19.8728 11.8716C19.9576 11.9549 20 12.0641 20 12.1733M14.5 17.5L19.8728 12.475C19.9576 12.3917 20 12.2825 20 12.1733M20 12.1733H4"
            stroke="#068C0B"
            stroke-width="1.5"
            stroke-linecap="round"
          />
        </svg>
      </button>

      <div
        class="pointer-events-none absolute bottom-0 right-0 top-0 hidden w-20 bg-gradient-to-l from-white to-transparent lg:block"
      ></div>
    </div>
  </div>
</div>
