<input
  [type]="type()"
  [placeholder]="placeholder()"
  [field]="field()"
  [class]="customClass()"
  [ngClass]="{
    'border-valencia-50 hover:border-valencia-50 focus:border-valencia-50 focus:ring-1 focus:ring-valencia-50':
      hasError(),
    'focus:border-platinum-40 focus:ring-1 focus:ring-platinum-40': !hasError(),
    'cursor-not-allowed': field()().disabled(),
  }"
  class="h-[44px] w-full rounded-xl border border-platinum-20 bg-white px-3.5 py-2.5 text-platinum-100 placeholder:text-platinum-50 focus:outline-none"
/>
