<div class="px-4 lg:px-0">
  @if (cartService.itemCount() > 0) {
    <div class="container mb-10 mt-24 space-y-8 md:mt-36">
      <div class="space-y-3">
        <h1 class="text-2xl md:text-4xl">ჩემი კალათა</h1>
        <p class="text-platinum-50 md:text-[18px]">
          დამატებული ნივთები: {{ cartService.itemCount() }}
        </p>
      </div>

      <div class="h-px bg-platinum-20"></div>
    </div>
  }
  <div class="container flex flex-col justify-between gap-6 xl:flex-row">
    @if (cartService.itemCount() == 0) {
      <div class="mx-auto my-40 max-w-[320px] space-y-6 text-center">
        <app-image
          src="/assets/images/cart/empty-cart.webp"
          [width]="120"
          [height]="120"
          loading="lazy"
          class="mx-auto"
        />

        <div>
          <h1 class="text-xl">კალათა ცარიელია</h1>
          <p class="mt-2 text-sm text-platinum-50">
            ნივთების დამატებას შეძლებთ პროდუქტების გვერდიდან.
          </p>
        </div>

        <a
          routerLink="products"
          class="inline-flex h-[44px] w-full items-center justify-center gap-2 rounded-full border-[1.5px] border-white/40 px-6 py-3 font-medium text-white transition-all duration-200 hover:scale-[102%]"
          style="
            background: linear-gradient(
              90deg,
              #0ad810 0%,
              #0bb705 35%,
              #0bb705 65%,
              #0ad810 100%
            );
            box-shadow: 0px 20px 16px -8px #0ad10426;
          "
          >პროდუქტების გვერდი</a
        >
      </div>
    } @else {
      <div class="flex w-full flex-col gap-6 lg:max-w-[738px]">
        @for (item of cartService.items(); track $index) {
          <app-cart-item [item]="item" />
        }
      </div>
      <app-price-summary (checkout)="handleCheckout()" />
    }
  </div>
</div>

<app-confirmation-modal
  [isOpen]="cartService.isDeleteModalOpen()"
  [title]="'ნივთის წაშლა'"
  [message]="cartService.deleteModalMessage()"
  [confirmText]="'წაშლა'"
  [cancelText]="'გაუქმება'"
  [confirmButtonGradientStart]="'#EF1E07'"
  [confirmButtonGradientEnd]="'#FF5226'"
  (confirm)="cartService.confirmDelete()"
  (cancel)="cartService.closeDeleteModal()"
/>
