@if (addresses.isLoading()) {
  <div class="flex flex-1 items-center justify-center py-10">
    <app-spinner
      [size]="46"
      [textColor]="'text-white'"
      [fillColor]="'fill-green-60'"
    />
  </div>
} @else if (addresses.value().length === 0) {
  <div
    class="flex flex-1 flex-col items-center justify-center gap-6 text-center"
  >
    <img
      src="/assets/images/profile/map-waypoint.webp"
      width="120"
      height="120"
    />
    <div class="max-w-[320px] space-y-2">
      <h1 class="text-xl">დაამატე მისამართი</h1>
      <p class="text-sm text-platinum-50">
        დაამატეთ სასურველი მისამრთი სადაც გსურთ თქვენი შეკვეთის მოწოდება.
      </p>
    </div>

    <button
      type="button"
      (click)="addressModal.openForCreate()"
      class="inline-flex items-center justify-center gap-2 rounded-full border-[1.5px] border-white/40 px-6 py-3 font-medium text-white transition-all hover:brightness-95"
      style="
        background: linear-gradient(
          90deg,
          #0ad810 0%,
          #0bb705 35%,
          #0bb705 65%,
          #0ad810 100%
        );
        box-shadow: 0px 20px 16px -8px #0ad10426;
      "
    >
      <svg
        width="20"
        height="20"
        viewBox="0 0 20 20"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M9.9987 3.33337L9.9987 16.6667M16.6654 10L3.33203 10"
          stroke="white"
          stroke-width="1.5"
          stroke-linecap="round"
        />
      </svg>
      ახალი მისამართი
    </button>
  </div>
} @else {
  <div class="flex flex-1 flex-col gap-4">
    <div class="grid grid-cols-1 gap-4 md:grid-cols-2">
      @for (address of addresses.value(); track address.id) {
        <div
          class="flex w-full flex-col rounded-xl border-[1.5px] border-platinum-20 px-4 py-1 transition-all"
        >
          <div class="flex items-center justify-between gap-4 py-4">
            <div class="flex items-center gap-3">
              <div
                class="flex h-10 w-10 flex-shrink-0 items-center justify-center rounded-full bg-platinum-10"
              >
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none">
                  <path
                    d="M10 10.625C11.3807 10.625 12.5 9.50571 12.5 8.125C12.5 6.74429 11.3807 5.625 10 5.625C8.61929 5.625 7.5 6.74429 7.5 8.125C7.5 9.50571 8.61929 10.625 10 10.625Z"
                    stroke="#212121"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M16.25 8.125C16.25 13.75 10 18.125 10 18.125C10 18.125 3.75 13.75 3.75 8.125C3.75 6.4674 4.40848 4.87769 5.58058 3.70558C6.75269 2.53348 8.3424 1.875 10 1.875C11.6576 1.875 13.2473 2.53348 14.4194 3.70558C15.5915 4.87769 16.25 6.4674 16.25 8.125Z"
                    stroke="#212121"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </div>
              <div class="flex flex-col items-start text-left">
                <span class="font-normal">{{ address.address }}</span>
                <span class="text-sm text-platinum-50">{{ address.city }}</span>
              </div>
            </div>
          </div>

          <div class="h-px bg-platinum-20"></div>
          <div class="flex items-center justify-between">
            <div class="py-4 text-left text-sm text-platinum-50">
              {{ address.details || "-" }}
            </div>

            <div class="flex items-center gap-2">
              <button type="button" (click)="addressModal.openForEdit(address)">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
                  <path
                    d="M24 0V24H0V0H24Z"
                    fill="white"
                    fill-opacity="0.01"
                  />
                  <path
                    d="M11.9946 5.99512L18.0042 12.0047M5.64457 20.3532L6.33892 20.3534C7.97462 20.3539 8.79247 20.3542 9.5279 20.0497C10.2633 19.7452 10.8416 19.1669 11.9982 18.0103L18.4952 11.5133C19.3175 10.691 19.7287 10.2798 19.9477 9.83586C20.3605 8.99914 20.3605 8.01799 19.9477 7.18127C19.7287 6.7373 19.3175 6.32614 18.4952 5.5038C17.6729 4.68146 17.2617 4.27029 16.8177 4.05126C15.981 3.63847 14.9998 3.63847 14.1631 4.05126C13.7192 4.27029 13.308 4.68146 12.4856 5.50379L5.98822 12.0012C4.83184 13.1576 4.25365 13.7358 3.94916 14.4711C3.64467 15.2063 3.64481 16.024 3.64508 17.6594L3.64519 18.3536C3.64535 19.296 3.64542 19.7672 3.9382 20.06C4.23097 20.3528 4.70217 20.3529 5.64457 20.3532Z"
                    stroke="#888888"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </button>

              <button type="button" (click)="openDeleteModal(address)">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
                  <path
                    d="M7 4a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v2h4a1 1 0 1 1 0 2h-1.069l-.867 12.142A2 2 0 0 1 17.069 22H6.93a2 2 0 0 1-1.995-1.858L4.07 8H3a1 1 0 0 1 0-2h4V4zm2 2h6V4H9v2zM6.074 8l.857 12H17.07l.857-12H6.074zM10 10a1 1 0 0 1 1 1v6a1 1 0 1 1-2 0v-6a1 1 0 0 1 1-1zm4 0a1 1 0 0 1 1 1v6a1 1 0 1 1-2 0v-6a1 1 0 0 1 1-1z"
                    fill="#888888"
                  />
                </svg>
              </button>
            </div>
          </div>
        </div>
      }
    </div>

    <button
      type="button"
      class="flex items-center gap-2 text-sm font-semibold text-green-70"
      (click)="addressModal.openForCreate()"
    >
      <svg width="20" height="20" viewBox="0 0 20 20" fill="none">
        <path
          d="M10.0007 7.33331V9.99998M10.0007 9.99998V12.6666M10.0007 9.99998L12.6673 9.99998M10.0007 9.99998L7.33398 9.99998M16.6673 9.99998C16.6673 13.6819 13.6825 16.6666 10.0007 16.6666C6.31875 16.6666 3.33398 13.6819 3.33398 9.99998C3.33398 6.31808 6.31875 3.33331 10.0007 3.33331C13.6825 3.33331 16.6673 6.31808 16.6673 9.99998Z"
          stroke="#068C0B"
          stroke-width="1.5"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>

      ახალი მისამართის დამატება
    </button>
  </div>
}

<app-address-form-modal #addressModal (addressSaved)="onAddressSaved()" />

<app-confirmation-modal
  [isOpen]="isDeleteModalOpen()"
  [title]="'მისამართის წაშლა'"
  [message]="'დარწმუნებული ხართ, რომ გსურთ ამ მისამართის წაშლა?'"
  [confirmText]="'წაშლა'"
  [cancelText]="'გაუქმება'"
  [confirmButtonGradientStart]="'#EF1E07'"
  [confirmButtonGradientEnd]="'#FF5226'"
  (confirm)="confirmDelete()"
  (cancel)="closeDeleteModal()"
/>
