<div
  class="mb-10 flex flex-col items-center gap-6 bg-gradient-to-b from-[#F6F6F6] to-white sm:mb-20"
>
  <div
    class="mx-auto flex max-w-[1024px] flex-col items-center gap-4 px-4 pt-6 text-center sm:pt-20"
  >
    <h1 class="text-[28px] sm:text-[64px]">მწვანე ურნები</h1>
    <p class="font-normal text-platinum-50 sm:max-w-[768px] sm:text-lg">
      საქართველოში არ მოქმედებს ნარჩენების მართვის ერთიანი გეგმა, ამიტომ
      მნიშვნელოვანია კერძო კომპანიებმა საკუთარი ინიციატივით შეაგროვონ და
      დაანაწევრონ ნარჩენები.
    </p>
  </div>

  <img
    src="/assets/images/bins/bins-banner.webp"
    alt="Bins Banner"
    width="1120"
    height="350"
    class="h-auto w-[600px]"
  />
</div>

<div class="space-y-10 px-4 text-center sm:space-y-20">
  <div class="container mx-auto space-y-6 sm:space-y-10">
    <h2 class="text-[28px] sm:text-4xl">როგორ მუშაობს?</h2>

    <div class="flex flex-col items-center gap-8 sm:flex-row">
      <!--STEP 1-->
      <div
        class="shadow-low relative flex flex-col items-center gap-2.5 rounded-2xl bg-[linear-gradient(170.22deg,theme(colors.green.30)_-4.78%,theme(colors.white)_64.12%,theme(colors.white)_90.79%)] px-6 py-4"
      >
        <div
          class="absolute left-5 rounded-full bg-green-60 px-2.5 py-[5px] text-sm text-white"
        >
          01
        </div>

        <img
          src="/assets/images/bins/step-1.webp"
          alt="Step 1"
          width="93"
          height="90"
        />

        <h2 class="text-xl">შეავსე ურნა</h2>
        <p class="font-light text-platinum-50">
          შეავსე ურნა სწორი მასალებით - პლასტმასა, ალუმინი და ქაღალდი
        </p>
      </div>

      <svg
        width="36"
        height="36"
        viewBox="0 0 26 19"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        class="h-[24px] w-[24px] rotate-90 sm:h-auto sm:w-auto sm:rotate-0"
      >
        <path
          d="M16.75 17.5L24.8093 9.44255C24.9364 9.31758 25 9.15379 25 8.99M16.75 0.999999L24.8093 8.53745C24.9364 8.66242 25 8.82621 25 8.99M25 8.99L1 8.99"
          stroke="#0BB705"
          stroke-width="2"
          stroke-linecap="round"
        />
      </svg>

      <!--STEP 2-->
      <div
        class="shadow-low relative flex flex-col items-center gap-2.5 rounded-2xl bg-[linear-gradient(170.22deg,theme(colors.cream.30)_-4.78%,theme(colors.white)_64.12%,theme(colors.white)_90.79%)] px-6 py-4"
      >
        <div
          class="absolute left-5 rounded-full bg-cream-60 px-2.5 py-[5px] text-sm font-semibold text-white"
        >
          02
        </div>

        <img
          src="/assets/images/bins/step-2.webp"
          alt="Step 1"
          width="93"
          height="90"
        />

        <h2 class="text-xl">გამოიძახე</h2>
        <p class="font-light text-platinum-50">
          დაგვიკავშირდი ტელეფონით ან აპლიკაციით ურნის შევსებისას.
        </p>
      </div>

      <svg
        width="36"
        height="36"
        viewBox="0 0 26 19"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        class="h-[24px] w-[24px] rotate-90 sm:h-auto sm:w-auto sm:rotate-0"
      >
        <path
          d="M16.75 17.5L24.8093 9.44255C24.9364 9.31758 25 9.15379 25 8.99M16.75 0.999999L24.8093 8.53745C24.9364 8.66242 25 8.82621 25 8.99M25 8.99L1 8.99"
          stroke="#D3640C"
          stroke-width="2"
          stroke-linecap="round"
        />
      </svg>

      <!--STEP 3-->
      <div
        class="shadow-low relative flex flex-col items-center gap-2.5 rounded-2xl bg-[linear-gradient(170.22deg,theme(colors.pear.30)_-4.78%,theme(colors.white)_64.12%,theme(colors.white)_90.79%)] px-6 py-4"
      >
        <div
          class="absolute left-5 rounded-full bg-pear-60 px-2.5 py-[5px] text-sm font-semibold text-white"
        >
          03
        </div>

        <img
          src="/assets/images/bins/step-3.webp"
          alt="Step 1"
          width="93"
          height="90"
        />

        <h2 class="text-xl">გაატანე კურიერს</h2>
        <p class="font-light text-platinum-50">
          ჩვენი კურიერი 24 საათში მოვა და წაიღებს შეგოვებულ ნარჩენებს.
        </p>
      </div>
    </div>
  </div>

  <div class="container mx-auto space-y-6 sm:space-y-10">
    <h2 class="text-[28px] sm:text-4xl">აირჩიე ურნები ტიპების მიხედვით</h2>

    <div class="flex flex-col items-center justify-between gap-6 sm:flex-row">
      @for (binCard of binCards; track $index) {
        <div
          class="shadow-low relative flex h-[436px] flex-col justify-end rounded-2xl bg-white px-6 py-4 sm:w-[302px]"
        >
          <img
            src="/assets/images/bins/star-banner-{{ binCard.binType }}.svg"
            class="absolute left-1/2 top-3 w-full -translate-x-1/2 px-3"
          />

          <img
            src="/assets/images/bins/{{ binCard.binType }}-bin.webp"
            width="210"
            height="210"
            class="absolute left-1/2 top-9 -translate-x-1/2"
          />

          <div class="flex flex-col gap-6">
            <div class="space-y-1.5">
              <h2 class="text-lg">{{ binCard.title }}</h2>
              <p class="text-platinum-50">
                {{ binCard.subtext }}
              </p>
            </div>

            <a
              href=""
              class="rounded-full border border-green-60 px-4 py-2.5 font-semibold text-green-60"
              >დეტალები</a
            >
          </div>
        </div>
      }
    </div>
  </div>

  <div class="container mx-auto space-y-6 sm:space-y-10">
    <div class="space-y-3">
      <h2 class="text-[28px] sm:text-4xl">ჩვენი პარტნიორები</h2>
      <p class="text-platinum-50">
        გადამუშავებაში ჩართული ორგანიზაციები და მათი წვლილი გარემოს
        შენარჩუნებაში
      </p>
    </div>

    <div class="grid grid-cols-1 gap-6 md:grid-cols-3">
      <div
        class="shadow-low relative flex h-[220px] flex-col items-center gap-2.5 rounded-2xl bg-[linear-gradient(170.22deg,theme(colors.green.30)_-4.78%,theme(colors.white)_64.12%,theme(colors.white)_90.79%)] px-6 py-4 md:order-1"
      >
        <div
          class="absolute left-5 rounded-full bg-green-60 px-2.5 py-[5px] text-sm font-semibold text-white"
        >
          01
        </div>

        <img
          src="/assets/images/bins/test-avatar.webp"
          width="64"
          height="64"
        />
        <h2 class="sm:text-xl">თიბისი ბანკი</h2>
        <h2 class="text-2xl sm:text-[28px]">5,420 კგ</h2>

        <p class="flex items-center gap-2 text-platinum-50">
          <img src="/assets/images/bins/recycle-icon.svg" />
          შეგროვებული ნარჩენი
        </p>
      </div>

      <div
        class="shadow-low relative flex h-[220px] flex-col items-center gap-2.5 rounded-2xl bg-[linear-gradient(170.22deg,theme(colors.cream.30)_-4.78%,theme(colors.white)_64.12%,theme(colors.white)_90.79%)] px-6 py-4 md:order-2"
      >
        <div
          class="absolute left-5 rounded-full bg-cream-60 px-2.5 py-[5px] text-sm font-semibold text-white"
        >
          02
        </div>

        <img
          src="/assets/images/bins/test-avatar.webp"
          width="64"
          height="64"
        />
        <h2 class="sm:text-xl">სილქნეტი</h2>
        <h2 class="text-2xl sm:text-[28px]">4,890 კგ</h2>

        <p class="flex items-center gap-2 text-platinum-50">
          <img src="/assets/images/bins/recycle-icon.svg" />
          შეგროვებული ნარჩენი
        </p>
      </div>

      <div
        class="shadow-low relative flex h-[220px] flex-col items-center gap-2.5 rounded-2xl bg-[linear-gradient(170.22deg,theme(colors.pear.30)_-4.78%,theme(colors.white)_64.12%,theme(colors.white)_90.79%)] px-6 py-4 md:order-3"
      >
        <div
          class="absolute left-5 rounded-full bg-pear-60 px-2.5 py-[5px] text-sm font-semibold text-white"
        >
          03
        </div>

        <img
          src="/assets/images/bins/test-avatar.webp"
          width="64"
          height="64"
        />
        <h2 class="sm:text-xl">მაგთი</h2>
        <h2 class="text-2xl sm:text-[28px]">4,125 კგ</h2>

        <p class="flex items-center gap-2 text-platinum-50">
          <img src="/assets/images/bins/recycle-icon.svg" />
          შეგროვებული ნარჩენი
        </p>
      </div>
    </div>

    <div class="shadow-low overflow-hidden rounded-2xl">
      <table class="w-full">
        <thead
          class="hidden bg-platinum-10 text-left text-platinum-50 md:table-header-group"
        >
          <tr>
            <th class="px-6 py-4 font-normal">რანკი</th>
            <th class="px-6 py-4 font-normal">კომპანია</th>
            <th class="px-6 py-4 font-normal">შემოგვიერთდა</th>
            <th class="px-6 py-4 font-normal">შეგროვებული ნარჩენი</th>
          </tr>
        </thead>
        <tbody class="bg-white text-left text-sm">
          <tr class="border-b">
            <td class="py-4 pl-3 pr-1 sm:px-6 sm:py-4">
              <span
                class="rounded-2xl bg-platinum-10 px-2 py-[5px] font-semibold"
                >04</span
              >
            </td>
            <td class="p-4 pl-3 sm:px-6 sm:py-4">
              <div class="flex items-center gap-3">
                <img
                  src="/assets/images/bins/test-avatar.webp"
                  width="40"
                  height="40"
                />
                <span class="font-semibold">გუდვილი</span>
              </div>
            </td>
            <td class="hidden px-6 py-4 text-platinum-50 sm:table-cell">
              12 აპრ, 2024
            </td>
            <td class="py-4 pl-1.5 pr-3 sm:px-6 sm:py-4">
              <div
                class="inline-flex items-center gap-2 rounded-2xl bg-green-10 px-2 py-1.5 font-semibold text-green-80"
              >
                <img src="/assets/images/bins/recycle-icon-green.svg" />
                3,240 კგ
              </div>
            </td>
          </tr>
          <tr class="border-b">
            <td class="py-4 pl-3 pr-1 sm:px-6 sm:py-4">
              <span
                class="rounded-2xl bg-platinum-10 px-2 py-[5px] font-semibold"
                >05</span
              >
            </td>
            <td class="p-4 pl-3 sm:px-6 sm:py-4">
              <div class="flex items-center gap-3">
                <img
                  src="/assets/images/bins/test-avatar.webp"
                  width="40"
                  height="40"
                />
                <span class="font-semibold">გუდვილი</span>
              </div>
            </td>
            <td class="hidden px-6 py-4 text-platinum-50 sm:table-cell">
              12 აპრ, 2024
            </td>
            <td class="py-4 pl-1.5 pr-3 sm:px-6 sm:py-4">
              <div
                class="inline-flex items-center gap-2 rounded-2xl bg-green-10 px-2 py-1.5 font-semibold text-green-80"
              >
                <img src="/assets/images/bins/recycle-icon-green.svg" />
                3,240 კგ
              </div>
            </td>
          </tr>
          <tr class="border-b">
            <td class="py-4 pl-3 pr-1 sm:px-6 sm:py-4">
              <span
                class="rounded-2xl bg-platinum-10 px-2 py-[5px] font-semibold"
                >06</span
              >
            </td>
            <td class="p-4 pl-3 sm:px-6 sm:py-4">
              <div class="flex items-center gap-3">
                <img
                  src="/assets/images/bins/test-avatar.webp"
                  width="40"
                  height="40"
                />
                <span class="font-semibold">გუდვილი</span>
              </div>
            </td>
            <td class="hidden px-6 py-4 text-platinum-50 sm:table-cell">
              12 აპრ, 2024
            </td>
            <td class="py-4 pl-1.5 pr-3 sm:px-6 sm:py-4">
              <div
                class="inline-flex items-center gap-2 rounded-2xl bg-green-10 px-2 py-1.5 font-semibold text-green-80"
              >
                <img src="/assets/images/bins/recycle-icon-green.svg" />
                3,240 კგ
              </div>
            </td>
          </tr>
          <tr class="border-b">
            <td class="py-4 pl-3 pr-1 sm:px-6 sm:py-4">
              <span
                class="rounded-2xl bg-platinum-10 px-2 py-[5px] font-semibold"
                >07</span
              >
            </td>
            <td class="p-4 pl-3 sm:px-6 sm:py-4">
              <div class="flex items-center gap-3">
                <img
                  src="/assets/images/bins/test-avatar.webp"
                  width="40"
                  height="40"
                />
                <span class="font-semibold">გუდვილი</span>
              </div>
            </td>
            <td class="hidden px-6 py-4 text-platinum-50 sm:table-cell">
              12 აპრ, 2024
            </td>
            <td class="py-4 pl-1.5 pr-3 sm:px-6 sm:py-4">
              <div
                class="inline-flex items-center gap-2 rounded-2xl bg-green-10 px-2 py-1.5 font-semibold text-green-80"
              >
                <img src="/assets/images/bins/recycle-icon-green.svg" />
                3,240 კგ
              </div>
            </td>
          </tr>
          <tr class="border-b">
            <td class="py-4 pl-3 pr-1 sm:px-6 sm:py-4">
              <span
                class="rounded-2xl bg-platinum-10 px-2 py-[5px] font-semibold"
                >08</span
              >
            </td>
            <td class="p-4 pl-3 sm:px-6 sm:py-4">
              <div class="flex items-center gap-3">
                <img
                  src="/assets/images/bins/test-avatar.webp"
                  width="40"
                  height="40"
                />
                <span class="font-semibold">გუდვილი</span>
              </div>
            </td>
            <td class="hidden px-6 py-4 text-platinum-50 sm:table-cell">
              12 აპრ, 2024
            </td>
            <td class="py-4 pl-1.5 pr-3 sm:px-6 sm:py-4">
              <div
                class="inline-flex items-center gap-2 rounded-2xl bg-green-10 px-2 py-1.5 font-semibold text-green-80"
              >
                <img src="/assets/images/bins/recycle-icon-green.svg" />
                3,240 კგ
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="grid grid-cols-1 gap-4 md:grid-cols-3">
      <div
        class="shadow-low flex items-center gap-3 rounded-2xl bg-white px-6 py-5"
      >
        <img
          src="/assets/images/bins/handshake.webp"
          class="h-[87px] w-[87px] sm:h-[100px] sm:w-[100px]"
        />
        <div class="space-y-2 text-left">
          <h2 class="text-2xl sm:text-[28px]">+150</h2>
          <p class="text-sm text-platinum-50 sm:text-base">აქტიური პარტნიორი</p>
        </div>
      </div>

      <div
        class="shadow-low flex items-center gap-3 rounded-2xl bg-white px-6 py-5"
      >
        <img
          src="/assets/images/bins/recycle-card.webp"
          class="h-[87px] w-[87px] sm:h-[100px] sm:w-[100px]"
        />
        <div class="space-y-2 text-left">
          <h2 class="text-2xl sm:text-[28px]">15,240 კგ</h2>
          <p class="text-sm text-platinum-50 sm:text-base">
            გადამუშავებული ნარჩენი
          </p>
        </div>
      </div>

      <div
        class="shadow-low flex items-center gap-3 rounded-2xl bg-white px-6 py-5"
      >
        <img
          src="/assets/images/bins/co2.webp"
          class="h-[87px] w-[87px] sm:h-[100px] sm:w-[100px]"
        />
        <div class="space-y-2 text-left">
          <h2 class="text-2xl sm:text-[28px]">3,890 კგ</h2>
          <p class="text-sm text-platinum-50 sm:text-base">დაზოგილი CO₂</p>
        </div>
      </div>
    </div>

    <div
      class="flex w-full flex-col-reverse items-center justify-between rounded-2xl bg-[#F4F6F7] px-4 py-6 sm:flex-row sm:px-12 sm:py-10"
    >
      <div class="space-y-8 text-center sm:text-left">
        <h2 class="text-[28px] sm:text-4xl">მოითხოვე ურნა</h2>
        <p class="max-w-[628px] text-platinum-50 sm:text-lg">
          მოგვწერე თქვენი მოთხოვნა და ჩვენი წარმომადგენელი 1 სამუშაო დღეში
          დაგიკავშირდებათ.
        </p>

        <button
          type="button"
          class="inline-flex items-center justify-center gap-2 rounded-full border-[1.5px] border-white/40 px-6 py-3 font-medium text-white transition-all duration-200 hover:scale-[102%]"
          style="
            background: linear-gradient(
              90deg,
              #0ad810 0%,
              #0bb705 35%,
              #0bb705 65%,
              #0ad810 100%
            );
            box-shadow: 0px 20px 16px -8px #0ad10426;
          "
        >
          მოთხოვნის გაგზავნა
        </button>
      </div>

      <img
        src="/assets/images/bins/banner-bin.webp"
        class="h-56 w-56 sm:h-52 sm:w-52"
      />
    </div>
  </div>
</div>
