<div class="space-y-10 text-center sm:space-y-20">
  <div
    class="flex flex-col items-center gap-6 bg-gradient-to-b from-[#F6F6F6] to-white"
  >
    <div
      class="mx-auto flex max-w-[1024px] flex-col items-center gap-4 px-4 pt-6 text-center sm:pt-20"
    >
      <h1 class="text-[28px] font-semibold sm:text-[64px]">მწვანე ურნები</h1>
      <p class="font-normal text-platinum-50 sm:max-w-[768px] sm:text-lg">
        საქართველოში არ მოქმედებს ნარჩენების მართვის ერთიანი გეგმა, ამიტომ
        მნიშვნელოვანია კერძო კომპანიებმა საკუთარი ინიციატივით შეაგროვონ და
        დაანაწევრონ ნარჩენები.
      </p>
    </div>

    <img
      src="/assets/images/bins/bins-banner.webp"
      alt="Bins Banner"
      width="1120"
      height="350"
      class="h-auto w-[600px]"
    />
  </div>

  <div>
    <h2 class="font-semibold sm:text-4xl">როგორ მუშაობს?</h2>

    <div class="flex items-center gap-8">
      <!--STEP 1-->
      <div
        class="relative flex flex-col gap-2.5 rounded-2xl bg-[linear-gradient(170.22deg,theme(colors.green.30)_-4.78%,theme(colors.white)_64.12%,theme(colors.white)_90.79%)] px-6 py-4 shadow-sm"
      >
        <img
          src="/assets/images/bins/step-1.webp"
          alt="Step 1"
          width="93"
          height="90"
        />

        <h2 class="text-xl font-semibold">შეავსე ურნა</h2>
        <p class="font-normal text-platinum-50">
          შეავსე ურნა სწორი მასალებით - პლასტმასა, ალუმინი და ქაღალდი
        </p>
      </div>
    </div>
  </div>
</div>
