<div
  class="flex flex-col items-center gap-6 bg-gradient-to-b from-[#F6F6F6] to-white"
>
  <div
    class="mx-auto flex max-w-[1024px] flex-col items-center gap-4 pt-20 text-center"
  >
    <h1 class="text-[28px] font-semibold text-platinum-90 sm:text-[64px]">
      მწვანე ურნები
    </h1>
    <p class="max-w-[768px] text-lg font-normal text-platinum-50">
      საქართველოში არ მოქმედებს ნარჩენების მართვის ერთიანი გეგმა, ამიტომ
      მნიშვნელოვანია კერძო კომპანიებმა საკუთარი ინიციატივით შეაგროვონ და
      დაანაწევრონ ნარჩენები.
    </p>
  </div>

  <img src="/assets/images/bins-banner.webp" width="1120" height="350" />
</div>
