<app-navbar [showCategories]="isHome()" />

<main
  class="relative mt-[114px] min-h-[calc(100vh-114px)] flex-1"
  [ngClass]="
    isHome()
      ? 'lg:mt-[124px] lg:min-h-[calc(100vh-124px)]'
      : 'lg:mt-20 lg:min-h-[calc(100vh-80px)]'
  "
>
  @if (!this.loadingService.loading()) {
    <router-outlet />
    <app-footer />
  } @else {
    <div
      class="bg-background absolute inset-0 z-0 flex items-center justify-center"
    >
      <app-spinner
        [size]="46"
        [textColor]="'text-white'"
        [fillColor]="'fill-green-60'"
      />
    </div>
  }
</main>
