@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading;
    font-weight: 600;
  }

  body,
  p,
  a,
  span,
  div,
  button,
  input,
  textarea,
  select,
  label {
    @apply font-body;
  }
}

@font-face {
  font-family: 'Mark-Geo';
  src: url('/assets/fonts/Mark-Geo.woff2') format('woff2');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mark-Geo';
  src: url('/assets/fonts/Mark-Geo-Semibold.woff2') format('woff2');
  font-weight: 600;
  font-display: swap;
}


@font-face {
  font-family: 'NotoSans-Geo';
  src: url('/assets/fonts/NotoSans-Geo.woff2') format('woff2');
  font-style: normal;
  font-display: swap;
}

body {
  color: #212121;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px rgba(255, 255, 255, 0.05) inset !important;
  box-shadow: 0 0 0px 1000px rgba(255, 255, 255, 0.05) inset !important;
  -webkit-text-fill-color: #ffffff !important;
  background-color: rgba(255, 255, 255, 0.05) !important;
  color: #ffffff !important;
  transition: background-color 5000s ease-in-out 0s;
}
