<div class="px-4 lg:px-0">
  <div class="container mb-10 mt-24 md:mt-36">
    <h1 class="text-2xl md:text-4xl">შეკვეთის გაფორმება</h1>

    <div class="my-6 h-px bg-platinum-20"></div>

    <app-breadcrumb [items]="breadcrumbs()" />

    <div
      class="container mt-10 flex flex-col justify-between gap-6 lg:flex-row"
    >
      <div class="space-y-6">
        <div class="w-full rounded-2xl bg-white p-6 shadow-low">
          <div class="mb-6">
            <h1 class="text-xl">ჩემი ნივთები</h1>
            <p class="text-sm text-platinum-50">
              დამატებული ნივთები: {{ cartService.itemCount() }}
            </p>
          </div>

          <div class="flex flex-col gap-6">
            @for (item of cartService.items(); track $index) {
              <app-cart-item [item]="item" />
            }
          </div>
        </div>

        <div class="w-full rounded-2xl bg-white p-6 shadow-low">
          <h1 class="text-xl">1. საკონტაქტო დეტალები</h1>

          <div class="space-y-6">
            <!--<app-input-->
            <!--  [control]="checkoutForm.controls.email"-->
            <!--  type="email"-->
            <!--  placeholder="სახელი"-->
            <!--  [error]="submitted() && checkoutForm.controls.email.invalid"-->
            <!--/>-->
          </div>
        </div>
      </div>

      <app-price-summary (checkout)="handleCheckout()" />
    </div>
  </div>
</div>

<app-confirmation-modal
  [isOpen]="cartService.isDeleteModalOpen()"
  [title]="'ნივთის წაშლა'"
  [message]="cartService.deleteModalMessage()"
  [confirmText]="'წაშლა'"
  [cancelText]="'გაუქმება'"
  [confirmButtonGradientStart]="'#EF1E07'"
  [confirmButtonGradientEnd]="'#FF5226'"
  (confirm)="cartService.confirmDelete()"
  (cancel)="cartService.closeDeleteModal()"
/>
